<h2>My Reactive Form</h2>
  <form novalidate [formGroup]="form">
    <div class="form-group">
        <label>First Name:</label>
        <input class="form-control" formControlName="first">
      </div>
      <div class="form-group">
        <label>Last Name:</label>
        <input class="form-control" formControlName="last">
      </div>
      <div class="form-group">
        <label>Username:</label>
        <input class="form-control" formControlName="username">
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input class="form-control" formControlName="password">
      </div>
      <div class="form-group">
        <label>Confirm Password:</label>
        <input class="form-control" formControlName="confirm">
      </div>
      <div formGroupName="address">
        <div class="form-group">
          <label>Street:</label>
          <input class="form-control" formControlName="street">
        </div>
        <div class="form-group">
          <label>City:</label>
          <input class="form-control" formControlName="city">
        </div>
        <div class="form-group">
          <label>State:</label>
          <select class="form-control" formControlName="state">
            <option>CA</option>
            <option>NY</option>
          </select>
        </div>
        <div class="form-group">
          <label>Zip Code:</label>
          <input class="form-control" formControlName="zip">
        </div>
      </div>
    </form>
      <p>Form: {{ form.value | json }}</p>
        <p>Form Control value: {{ form.get('first').value}}</p>

  <!-- <form novalidate [formGroup]="form">
    <input formControlName="first" placeholder="First name">
    <input formControlName="last" placeholder="Last name">
    <div formArrayName="addresses">
      <div *ngFor="let address of addresses.controls; let i=index" [formGroupName]="i">
        <input formControlName="street" placeholder="Street">
        <input formControlName="city" placeholder="City">
          <p *ngIf="addresses.controls.street.errors">Street is required!</p>
        <select formControlName="state">
          <option>CA</option>
          <option>NY</option>
        </select>
        <input formControlName="zip" placeholder="Zip Code">
      </div>
      <button md-button (click)="add()">Add Address</button>
    </div>

    <div formGroupName="account">
      <label>Account</label>
      <input formControlName="username" placeholder="Username">
      <input formControlName="password" placeholder="Password">
      <input formControlName="confirm" placeholder="Confirm password">
    </div>

    <label>Would you like to receive a newsletter?</label>
    <switch-control formControlName="newsletter"></switch-control>
    <md-card-actions align="end">
      <button md-button>SUBMIT</button>
    </md-card-actions>
  </form>
</md-card>
<md-card>
  <p>Form: {{ form.value | json }}</p>
  <p>Form status: {{ form.status }}</p>
  <p>Account status: {{ form.get('account').errors | json }}</p>
  <p>Password status: {{ form.get('account.password').status }}</p>
  <p>Password value: {{ form.get('account.password').value }}</p>
  <p>Password confirm status: {{ form.get('account.confirm').status }}</p>
  <p>Addresses Array Value: {{ form.get('addresses').value | json}}</p>
  <p>Addresses errors: {{ form.get('addresses').errors | json}}</p>
  <p>Form Control value: {{ form.get('first').value}}</p>

</md-card>
 -->